<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.1" package="x.covid19tracker" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="28" />
	<application android:label="Covid19.Android" android:roundIcon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>